@import url("reset.css");

.dPager {
    font-family: sans-serif;
    font-size: 1em;
    width: 990px;
    margin: 10px auto;
}

.dPager h1 {
    font-size: 2em;
    text-align: center;
}

.dPager section {
    margin: 25px 0;
}
.dPager section h2 {
    margin: 0 0 5px 15px;
}

.dPager section h2 span {
    font-weight: normal;
    font-size: .8em;
}

.dPager section .body {
    padding: 10px;
    border-radius: 10px;
    background: #ddd;
    border: 1px solid #bbb;
}

.dPager section .body p {
    margin: 20px;
}

.dPager .discrete-pager {
    text-align: center;
}

.dPager .discrete-pager a {
    padding: 5px 10px;
    border-radius: 10px;
    background: #bbb;
    border: 1px solid #aaa;
    text-decoration: none;
    color: #000;
    margin: 0 5px;
}

.dPager .discrete-pager a.current {
    background: transparent;
    border: none;
}
