.ui-resizable {

    .ui-resizable-handle {
        position: absolute;
        font-size: 0.1px;
        display: block;
        -ms-touch-action: none;
        touch-action: none;
    }

    .ui-resizable-e,
    .ui-icon {
        display: none !important;;
    }

    .ui-resizable-s {
        cursor: s-resize;
        height: 5px;
        width: 100%;
        bottom: 0;
        left: 0;


        &:hover{
            background: @font-color;
            opacity: .1;
        }
    }
}

.ui-draggable-handle {
    &:hover {
        cursor: move;
    }
}
