@import "_global/variables.less";
@import "checkbox/main.less";
@import "checkbox/checkbox-size.less";

.ui-checkbox.small {
    .checkbox-size(
    16px, 12px, 8px, 2px, 0 -80px, 0 -92px, inset -2px -2px 8px -1px, @off-color, @on-color, @disabled-base-color
    );
}

.ui-checkbox.medium {
    .checkbox-size(
    24px, 16px, 12px, 4px, 0 -48px, 0 -64px, inset -4px -4px 12px -2px, @off-color, @on-color, @disabled-base-color
    );
}

.ui-checkbox.large {
    .checkbox-size(
    32px, 24px, 14px, 4px, 0 0, 0 -24px, inset -6px -6px 14px -4px, @off-color, @on-color, @disabled-base-color
    );
}

