@import "_global/variables.less";

.ui-datetime {
    position: relative;
    color: @font-color;
    font-size: @font-size;

    time {
        width: 100%;
        text-align: center;
        display: block;

        .dayname {
            font-size: 2.5em;
            letter-spacing: .3em;
            display: inline-block;
        }

        .month-day {
            font-size: 1.25em;
            display: inline-block;
            padding: 0 0 0 .4em;
        }

        .month-short,
        .month,
        .day {
            display: inline-block;
            width: 2em;
            text-align: center;
        }

        .year {
            transform: rotate(270deg);
            transform-origin: 25% 55% 0;
            display: inline-block;
            font-size: 1.3em;
            line-height: 1.3em;
            font-weight: bold;
        }

        &.normal {
            .dayname {
                font-size: 1.7em;
                letter-spacing: .3em;
                display: inline-block;
                text-align: left;
            }

            .year,
            .month,
            .month-short {
                display: inline-block;
                color: @font-color-highligh;
                width: auto;
                transform: none;
                transform-origin: 50% 50% 0;
                font-size: 1em;
                line-height: 1em;
                font-weight: normal;
            }

            .month-day {
                font-size: 1em;
                display: inline-block;
                padding: 0;
            }

            .day {
                display: inline-block;
                width: auto;
                font-size: 3em;
                padding: 0 .4em 0 0;
                font-weight: bold;
            }
        }
    }

    .nav-button {
        text-decoration: none;
        color: @font-color;
        font-size: 2em;
        padding: .15em;

        &:hover {
            color: @datetime-font-color-hover;
        }

        &.nav-back {
            float: left;
        }

        &.nav-next {
            float: right;
        }
    }
}
