@import "_global/variables.less";

.ui-form {
    color: @font-color;

    .ui-form-group {
        border: 1px solid @border-color;
        background: @background-color;
        border-radius: 5px;
        padding: 10px 0;
        margin: 10px 0;

        legend {
            background: @background-color;
            padding: 5px 10px;
            margin: 0 0 0 10px;
            font-size: 1.1em;
            color: darken(@border-color, 40%);
            font-weight: bold;

            label {
                padding: 0 0 0 5px;
                cursor: pointer;
            }
        }

        &.ui-form-group-closed {
            border-radius: 0;
            border: none;
            border-top: 1px solid @border-color;

            .ui-form-field {
                display: none;
            }
        }
    }

    .ui-form-field {
        margin: 10px 20px;

        label {
            display: inline-block;
            min-width: @label-min-width;
        }

        input,
        textarea {
            border: 1px solid @border-color;
            padding: 5px;
            border-radius: 5px;
            outline: none;
            font-size: 1em;
            background: @background-color;

            &:focus {
                border: 1px solid darken(@background-color-active, 40%);
                background: @background-color-active;
                color: @font-color;
            }
        }

        &.ui-form-field-disabled {
            opacity: .65;
        }

        &.ui-form-field-required {
            label {
                &:after {
                    content: ' *';
                    font-weight: bold;
                    color: @color-highlight;
                }
            }
        }

        &.ui-form-field-invalid {
            input,
            textarea {
                border: 1px solid darken(@background-color-invalid, 30%);
                background: @background-color-invalid;
                color: @color-invalid;
            }

            ul {
                list-style: none;
                margin: 0 0 0 @label-min-width+10px;
                color: @background-color-invalid;
                font-size: .8em;

                li {
                    line-height: 1.1em;
                }
            }
        }

        &.ui-form-field-valid {
            &:after {
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                background: transparent @icon-ok-24 no-repeat center center;
            }
        }
    }

    .ui-form-buttons {
        border-top: 1px solid @border-color;
        text-align: center;
        margin-top: 30px;
        padding: 10px 0 10px 0;

        input[type="reset"],
        input[type="submit"],
        button {
            border: 1px solid darken(@border-color, 10%);
            color: lighten(@font-color, 10%);
            background: @background-color-dark;
            border-radius: 5px;
            cursor: pointer;
            vertical-align: middle;
            text-align: center;
            outline: none;
            padding: 8px 16px;

            &:hover {
                color: @font-color;
            }
        }

        input[type="submit"] {
            border: 1px solid darken(@background-color-highlight, 10%);
            color: @color-light;
            background: @background-color-highlight;

            &:hover {
                color: darken(@color-light, 10%);;
            }
        }
    }
}

