@import "_global/variables.less";
@import "reservation/ui-resizable.less";

.ui-reservation {
    position: relative;

    .reservation {
        position: absolute;
        z-index: 100;
        background: #b3def6;

        p {
            padding: 5px;

            .times {
                font-weight: bold;
            }

            .label {
                padding-left: 10px;
            }
        }

        .buttons {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 5px;
        }

        button {
            border-radius: 5px;
            cursor: pointer;
            vertical-align: middle;
            text-align: center;
            outline: none;
            padding: 2px 16px;
            border: none;
            margin-left: 5px;
            color: @font-color-light;
            background: @button-background-color;

            &:hover {
                background-color: darken(@button-background-color, 10%);
            }

            &.remove {
                background: transparent;
                font-weight: bold;
                font-size: 1.1em;
                padding: 0 5px;
                color: @font-color-error;

                &:hover {
                    color: darken(@font-color-error, 10%);
                }
            }
        }

        &.disabled {
            color: lighten(@font-color, 30%);

            button {
                background: transparent;
                color: lighten(@font-color, 30%);
                cursor: default;

                &:hover {
                    background-color: transparent;
                }

                &.remove {
                    display: none;
                }
            }

            .ui-resizable-handle {
                display: none !important;
            }
        }
    }
}
