@import "_global/variables.less";

.ui-table {
    width: 100%;
    color: @font-color;
    font-size: @font-size;
    //border-width: 1px;
    border-style: solid;
    border-color: @border-color;
    border-collapse: collapse;

    &.selectable {
        tr {
            &.selected {
                background-color: @background-color-highligh;
                color: @font-color-selected;
            }

            &:hover {
                background-color: lighten(@background-color-highligh, 5%);

                &.selected {
                    background-color: lighten(@background-color-highligh, 10%);
                }

                &.odd {
                    background-color: lighten(@background-color-highligh, 5%);
                }
            }
        }
    }

    tr {
        &.disabled {
            color: lighten(@font-color-highligh, 5%);
        }

        &.odd {
            background: @background-color-odd;
        }

        &.active {

        }

        &.hover {
            background-color: @background-color-highligh;
        }

        &.droppable-before {
            border-top-color: red;
            border-top-style: solid;
            border-top-width: 1px;
        }

        &.droppable-on {
        }

        &.droppable-after {
            border-bottom-color: red;
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }
    }

    th, td {
        border-bottom-width: 1px;
        padding: 5px;
        border-style: dotted;
        border-color: @border-color-highligh;
    }

    th {
        background: @background-color-header;
        text-align: left;
        border-style: solid;
        border-color: @border-color;
    }
}

.ui-table-draggable-helper {
    background: @background-color;
    z-index: 1000;

    .ui-table {
        background: @background-color;

        td {
            border-width: 1px;
        }
    }
}

.ui-table-direction-helper {
    z-index: -1;
    height: 16px;
    position: absolute;

    span {
        width: 16px;
        height: 16px;

        &.left {
            float: left;
            background: @icon-direction-helper-left;
        }

        &.right {
            float: right;
            background: @icon-direction-helper-right;
        }
    }
}
