@import "_global/variables.less";

.ui-toolbar {
    a.toolbar-button {
        text-decoration: none;
        display: inline-block;
        color: @font-color;
        margin: 0 5px;
        padding: 5px;
        border: 1px solid @border-color;
        border-radius: 5px;
        overflow: hidden;
        white-space: nowrap;
        outline: none;
        background: @background-color;

        &:active, &:link, &:visited {
            text-decoration: none;
            color: inherit;
        }

        &:hover {
            text-decoration: none;
            color: @font-color-selected;
            background-color: @background-color-highligh;
        }

        &.icon {
            padding: 0;

            span {
                display: inline-block;
                background-repeat: no-repeat;
                background-position: 5px center;
                padding: 5px 5px 5px 25px;
                height: 16px;
            }

            &-add {
                span {
                    background-image: @icon-plus;
                }
            }

            &-remove {
                span {
                    background-image: @icon-minus;
                }
            }

            &-refresh {
                span {
                    background-image: @icon-spinner;
                }
            }

            &-edit {
                span {
                    background-image: @icon-pencil;
                }
            }
        }

        &.disabled {
            span {
                opacity: 0.5;
            }

            &:hover {
                text-decoration: none;
                background-color: @font-color-selected;
                color: @font-color
            }
        }
    }

    &.plain-text {
        a.toolbar-button {
            border: none;
            font-weight: bold;

            &.disabled {
                &:hover {
                    color: inherit;
                    background-color: @background-color;
                }
            }

            &:hover {
                text-decoration: none;
                color: @background-color-highligh;
                background-color: @background-color;
            }
        }
    }

    &.only-icons {
        a.toolbar-button {
            span {
                border: none;
                text-indent: -9999px;
                text-align: left;
                width: 16px;
                padding: 5px;
            }
        }
    }

    &.radio {
        a.toolbar-button {
            margin: 0;
            border-radius: 0;
            border-left: none;
            border-top: 1px solid @border-color;
            border-bottom: 1px solid @border-color;
            border-right: 1px solid @border-color;

            &.first-child {
                border-radius: 5px 0 0 5px;
                border-left: 1px solid @border-color;
            }

            &.last-child {
                border-radius: 0 5px 5px 0;
            }

            &.selected {
                background-color: @background-color-highligh;
                color: @font-color-selected;
            }
        }
    }

    &.tab {
        //        .tab-toolbar {
        text-align: center;
        //        }
        hr {
            border: none;
            border-top: 1px solid @border-color;
            margin-top: -16px;
        }
        //        .tab-content {
        //            border-top: 1px solid @border-color;
        //            margin-top: -16px;
        //            padding: 18px 5px 5px 5px;
        //        }
    }
}
