@import "_global/variables.less";

.ui-window-modal-helper {
    position: absolute;
    background: #fff;
    opacity: .9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10005;
}

.ui-window {
    display: inline-block;
    height: auto;
    position: absolute;
    background: @background-color;
    z-index: 10010;
    border-radius: 10px;
    border-left: 1px solid @background-color-highligh;
    border-right: 1px solid @background-color-highligh;
    border-bottom: 1px solid @background-color-highligh;

    &.no-title {
        border-top: 1px solid @background-color-highligh;

        .ui-window-title {
            display: none;
        }

        .ui-window-body {
            padding: 30px;
        }
    }

    &.no-buttons {
        .ui-window-buttons {
            display: none;
        }
    }

    .ui-window-title {
        padding: 10px;
        text-align: center;
        position: relative;
        background: @background-color-highligh;
        border-radius: 10px 10px 0 0;
        color: @font-color-selected;
        font-weight: bold;

        span {
            display: block;
            position: relative;
        }

        button {
            &.exit {
                position: absolute;
                top: 8px;
                right: 5px;
                border: 0;
                background: transparent;
                outline: none;
                color: @font-color;
                cursor: pointer;
                font-size: 16px;
                font-weight: bold;

                &:hover {
                    color: @font-color-selected;
                }
            }
        }
    }

    .ui-window-body {
        padding: 10px;
        overflow: auto;

        &.center {
            text-align: center;
        }
    }

    .ui-window-buttons {
        padding: 10px;
        text-align: center;
        background: @background-color-odd;
        border-radius: 0 0 10px 10px;

        button {
            margin: 0 10px;
            border-radius: 5px;
            cursor: pointer;
            vertical-align: middle;
            text-align: center;
            outline: none;
            padding: 3px 10px;
            border: 1px solid darken(@background-color-header, 10%);
            background: @background-color-header;
            color: @font-color;

            &:hover {
                background: darken(@background-color-header, 5%);
            }

            &.link {
                border: 0;
                background: transparent;
                text-decoration: underline;

                &:hover {
                    color: darken(@font-color, 15%);
                }
            }

            &.yes {
                border: 1px solid darken(@background-color-highlight, 10%);
                color: @font-color-selected;
                background: @background-color-highlight;

                &:hover {
                    background: darken(@background-color-highlight, 5%);
                }
            }

            &.no {
                border: 1px solid darken(@background-color-invalid, 10%);
                color: @font-color-selected;
                background: @background-color-invalid;

                &:hover {
                    background: darken(@background-color-invalid, 5%);
                }
            }
        }
    }
}