.checkbox-size(@size, @icon-size, @icon-hor-position, @icon-vert-position,
        @icon-position-on, @icon-position-off, @switch-box-shadow,
        @off-color, @on-color, @disabled-base-color) {

    height: @size;
    border-radius: @size;
    width: @size * 2.5;

    .switch {
        width: @size;
        height: @size;
        border-radius: @size;
        box-shadow: @switch-box-shadow @off-color;
    }

    .icon {
        height: @icon-size;
        width: @icon-size;
        right: @icon-hor-position;
        top: @icon-vert-position;
        background-position: @icon-position-off;
    }

    /* checked */
    &.checked {
        .switch {
            box-shadow: @switch-box-shadow @on-color;
        }

        .icon {
            left: @icon-hor-position;
            background-position: @icon-position-on;
        }
    }

    /* disabled  */
    &.disabled,
    &.checked.disabled {
        .switch {
            box-shadow: @switch-box-shadow @disabled-base-color;
        }
    }
}