.ui-checkbox {
    display: inline-block;
    border: 1px solid @off-color;
    background: @off-color;
    position: relative;
    cursor: pointer;

    .switch {
        display: inline-block;
        border: 1px solid @off-color;
        background: @base-color;
        position: absolute;
        top: -1px;
        left: -1px;
        right: auto;
    }

    .icon {
        display: inline-block;
        position: absolute;
        background: transparent @icons no-repeat;
    }

    /* checked */
    &.checked {
        border: 1px solid @on-color;
        background: @on-color;

        .switch {
            left: auto;
            right: -1px;
            border: 1px solid @on-color;
        }

        .icon {
            right: auto;
        }
    }

    /* disabled  */
    &.disabled,
    &.checked.disabled {
        border-color: @disabled-base-color;
        background: @disabled-base-color;

        .switch {
            border-color: @disabled-base-color;
            background: @disabled-color;
        }
    }

    &.normal {
        display: inline;
        border: none;
        background: transparent;
        position: relative;
        margin: 0 18px 0 0;
        line-height: 20px;

        .switch {
            display: none;
        }

        .icon {
            background: transparent @background-image no-repeat 0 -16px;
            height: 16px;
            width: 16px;
        }

        &.checked {
            border: none;
            background: transparent;

            .icon {
                background-position: 0 0;
            }
        }

        &.disabled,
        &.checked.disabled {
            border: none;
            background: transparent;
            opacity: .65;
        }
    }
}
