<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Discrete Pager Example</title>

    <link href="../css/skin.css" type="text/css" rel="stylesheet">
<body class="dPager">

<h1>Discrete Pager Example</h1>
<article id="content">
    <?php echo getSections($offset, $limit, $sectionCount, $template); ?>
</article>

<section class="discrete-pager" data-container="#content">
    <?php for ($i = 0; $i < $pageCount; $i++): ?>
        <?php if ($i === $page): ?>
            <a class="current" id="page_<?php echo $i + 1; ?>"><?php echo $i + 1; ?></a>
        <?php else: ?>
            <a href="?page=<?php echo $i + 1; ?>"><?php echo $i + 1; ?></a>
        <?php endif; ?>
    <?php endfor; ?>
</section>

<script type="application/javascript" src="https://code.jquery.com/jquery-2.1.3.js"></script>
<script type="application/javascript" src="../js/jquery.dPager.js"></script>


<script type="application/javascript">
    $(function () {
        $.dPager();
    });
</script>

</body>
</html>